<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.wowoto.wowomall.mapper.OrderMapper">

<insert id="addOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
    insert into `order`(
        user_id, be_shared_item_ids, order_sn, status, mobile, message, goods_price, freight_price, coupon_price, integral_price, rebate_price, ship_sn, ship_channel, ship_time, confirm_time, end_time, pay_time, parent_id, address, gmt_create, gmt_modified, be_deleted
    )
    values (
        #{userId}, #{beSharedItemIds}, #{orderSn}, #{statusCode}, #{mobile}, #{message}, #{goodsPrice}, #{freightPrice}, #{couponPrice}, #{integralPrice}, #{rebatePrice}, #{shipSn}, #{shipChannel}, #{shipTime}, #{confirmTime}, #{endTime}, #{payTime}, #{parentId}, #{address}, now(), #{gmtModified}, 0
    )
</insert>

<select id="getOrdersByStatusCode" parameterType="java.util.List" resultType="Order">
    select id,
            user_id,
            be_shared_item_ids,
            order_sn,
            status as status_code,
            consignee,
            mobile,
            message,
            godds_price,
            freight_price,
            coupon_price,
            rebate_price,
            integral_price,
            ship_sn,
            ship_channel,
            ship_time,
            confirm_time,
            end_time,
            pay_time,
            parent_id,
            address,
            gmt_create,
            gmt_modified,
            be_deleted
    from `order`
    where user_id = #{userId} and be_deleted = 0
    <if test="statusCode!=0">
        and status_code = #{statusCode}
    </if>
    order by #{sort} #{order}
    limit #{page}, #{limit}
</select>

<select id="getGrouponNumById" parameterType="java.util.List" resultType="java.util.List">
        select count(distinct `order`.id),
        from `order`,`order_item`
        where `order`.id ==  `order_item`.order_id and `order`.be_deleted = 0
            and status_code = #{statusCode} and `order_item`.goods_id = #{goodId}
</select>

<select id="getOrderByOrderId" parameterType="Integer" resultType="Order">
    select id,
           user_id,
           be_shared_item_ids,
           order_sn,
           status as status_code,
           consignee,
           mobile,
           message,
           goods_price,
           freight_price,
           coupon_price,
           rebate_price,
           integral_price,
           ship_sn,
           ship_channel,
           ship_time,
           confirm_time,
           end_time,
           pay_time,
           parent_id,
           address,
           gmt_create,
           gmt_modified,
           be_deleted
    from `order`
    where be_deleted = 0 and id = #{orderId}
</select>

<update id="updateOrderSelective" parameterType="Order">
    update `order`
    <set>
        <if test="userId != null">
            user_id = #{userId},
        </if>
        <if test="beSharedItemIds != null">
            be_shared_item_ids = #{beSharedItemIds},
        </if>
        <if test="orderSn != null">
            order_sn = #{orderSn},
        </if>
        <if test="statusCode != null">
            status = #{statusCode},
        </if>
        <if test="consignee != null">
            consignee = #{consignee},
        </if>
        <if test="mobile != null">
            mobile = #{mobile},
        </if>
        <if test="message != null">
            message= #{message},
        </if>
        <if test="goodsPrice != null">
            goods_price = #{goodsPrice},
        </if>
        <if test="freightPrice != null">
            freight_price = #{freightPrice},
        </if>
        <if test="couponPrice != null">
            coupon_price = #{couponPrice},
        </if>
        <if test="integralPrice != null">
            integral_price = #{integralPrice},
        </if>
        <if test="rebatePrice != null">
            rebate_price = #{rebatePrice},
        </if>
        <if test="shipSn != null">
            ship_sn = #{shipSn},
        </if>
        <if test="shipChannel != null">
            ship_channel = #{shipChannel},
        </if>
        <if test="shipTime != null">
            ship_time = #{shipTime},
        </if>
        <if test="confirmTime != null">
            confirm_time = #{confirmTime},
        </if>
        <if test="endTime != null">
            end_time = #{endTime},
        </if>
        <if test="payTime != null">
            pay_time = #{payTime},
        </if>
        <if test="parentId != null">
            parent_id = #{parentId},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="gmtCreate != null">
            gmt_create = #{gmtCreate},
        </if>
        <if test="gmtModified != null">
            gmt_modified = now(),
        </if>
        <if test="beDeleted != null">
            be_deleted = #{beDeleted},
        </if>
    </set>
    where id = #{id}
</update>


</mapper>