<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.wowoto.wowomall.mapper.OrderItemMapper">

    <insert id="addOrderItems" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_order_item(
            order_id, item_type, status, number, price, deal_price, product_id, goods_id, name_with_specifications, gmt_create, gmt_modified, is_deleted
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.itemType}, #{item.statusCode}, #{item.number}, #{item.price}, #{item.dealPrice}, #{item.productId}, #{item.goodsId}, #{item.nameWithSpecifications}, now(), now(), 0)
        </foreach>
    </insert>

    <select id="getOrderItemsByOrderId" parameterType="Integer" resultType="OrderItem">
        select id,
               order_id,
               item_type,
               status as status_code,
               `number`,
               price,
               deal_price,
               product_id,
               goods_id,
               name_with_specifications,
               pic_url,
               gmt_create,
               gmt_modified
        from oomall_order_item
        where order_id = #{orderId} and is_deleted = 0
    </select>

    <update id="updateOrderItemSelective" parameterType="OrderItem" >
        update oomall_order_item
        <set>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="itemType != null">
                item_type = #{itemType},
            </if>
            <if test="statusCode != null">
                status = #{statusCode},
            </if>
            <if test="number != null">
                `number` = #{number},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="dealPrice != null">
                deal_price = #{dealPrice},
            </if>
            <if test="productId != null">
                product_id= #{productId},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="nameWithSpecifications != null">
                name_with_specifications = #{nameWithSpecifications},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
                gmt_modified = now(),
            <if test="beDeleted != null">
                is_deleted = #{beDeleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getOrderItemById" parameterType="Integer" resultType="OrderItem">
               select id,
                   order_id,
                    item_type,
                   status as status_code,
                   `number`,
                   price,
                   deal_price,
                   product_id,
                   goods_id,
                   name_with_specifications,
                   pic_url,
                   gmt_create,
                   gmt_modified,
                   is_deleted as beDeleted
        from oomall_order_item
        where id = #{orderItemId} and is_deleted = 0
    </select>

    <select id="getOrderItemByStatus"  resultType="OrderItem">
    select id,
       order_id,
       item_type,
       status as status_code,
       `number`,
       price,
       deal_price,
       product_id,
       goods_id,
        name_with_specifications,
        pic_url,
       gmt_create,
       gmt_modified
    from oomall_order_item
    where id = #{orderItemId}
    </select>

    <select id="getOrderItemByShareTimeLimit" resultType="OrderItem">
        select id,
               order_id,
               item_type,
               status as status_code,
               `number`,
               price,
               deal_price,
               product_id,
               goods_id,
               name_with_specifications,
               pic_url,
               gmt_create,
               gmt_modified
        from oomall_order_item
        where gmt_create between #{start}
              and #{end}
              and item_type &gt; 0 and item_type &lt; 5
    </select>

    <select id="getPresaleOrderItems" resultType="OrderItem">
        select id,
               order_id,
               item_type,
               status as status_code,
               `number`,
               price,
               deal_price,
               product_id,
               goods_id,
               name_with_specifications,
               pic_url,
               gmt_create,
               gmt_modified
        from oomall_order_item
        where gmt_create between #{startTime} and #{endTime}
              and item_type = 1
              and item_type &gt; 0 and item_type &lt; 5
              and goods_id=#{goodsId}
    </select>

    <select id="getGrouponOrderItems" resultType="OrderItem">
        select id,
               order_id,
               item_type,
               status as status_code,
               `number`,
               price,
               deal_price,
               product_id,
               goods_id,
               name_with_specifications,
               pic_url,
               gmt_create,
               gmt_modified
        from oomall_order_item
        where gmt_create between #{startTime} and #{endTime}
              and item_type = 2
              and item_type &gt; 0 and item_type &lt; 5
              and goods_id=#{goodsId}
    </select>
</mapper>