<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.wowoto.wowomall.mapper.OrderMapper">

    <select id="getOrdersByStatusCode" parameterType="" resultType="WowoOrder">
        select id,
               order_sn,
               goods_Price,
        from order
        where userId=#{id} and status=#{statusCode}
        order by #{sort} #{order}
        limit #{page} #{lmit}
    </select>

</mapper>